<%- include("partials/header", { path, title: "File upload" }) %>

<link href="/upload.css" rel="stylesheet" type="text/css">
<script href="/js/dragAndDrop.js"
<form action="/api/upload" enctype="multipart/form-data" method="post">

<center>
<h1>File Upload</h1>
    <form>
      <div><input type="file" name="multipleFiles" multiple="multiple" /></div>
	  <br>
      <input type="submit" value="Upload" />
    </form>
	</center>

<%- include("partials/footer") %>