<%- include("partials/header", { path, title: "File upload" }) %>

<form action="/api/upload" enctype="multipart/form-data" method="post">
    <form>
      <div>File: <input type="file" name="multipleFiles" multiple="multiple" /></div>
      <input type="submit" value="Upload" />
    </form>

<%- include("partials/footer") %>